<div class="container-fluid main-container" style="margin-left: -20px;">
    <div class="row">
        <div class="col-12">
    <div class="d-none d-sm-none d-lg-none d-xl-block col-12">
        <app-page-header></app-page-header>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xl-3 col-xxl-2">
            <app-sitebar-wrapper></app-sitebar-wrapper>       
        </div>
        <div class="col-lg-8 col-xl-9 col-xxl-10">
            <div class="content-wrappe">
                <div class="row">
                    <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1>{{ data.formData['project_name'] }}</h1>
                                            <p>{{ data.formData['project_dsc'] }}</p>
                                        </div>
                                    </div>
                              </div>
                            <div class="card-body">
                                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <ul class="list-group">
                                    <li class="list-group-item active" aria-current="true">/</li>
                                    <li class="list-group-item">Documents</li>
                                    <li class="list-group-item">Datasets</li>
                                    <li class="list-group-item">Models</li>
                                    <li class="list-group-item">Libraries-Code</li>
                                  </ul>
                            </div>
                            <div class="col-10">
                                <div class="card">
                                    <div style="padding-top: 8px;" class="card-header">
                                        <div class="row" style="width:100%">
                                            <div class="col-6">/</div>
                                            <div class="col-6" style="text-align: right; font-size:32px;"><i (click)="toggleUpload()"  style="color:blue" class="bi bi-clipboard-plus-fill"></i></div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div *ngIf="ups=='Y'" class="col-12">
                                                <div class="card">
                                                    <app-smart-upload (cancel)="toggleUpload()"></app-smart-upload>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<span style="font-size:8px">/app/pages/model-dashboard</span>