<div class="container-fluid main-container" style="margin-left: -20px;">
    <div class="row">
        <div class="col-12">
    <div class="d-none d-sm-none d-lg-none d-xl-block col-12">
        <app-page-header></app-page-header>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xl-3 col-xxl-2">
            <app-sitebar-wrapper></app-sitebar-wrapper>       
        </div>
        <div class="col-lg-8 col-xl-9 col-xxl-10">
            <div class="content-wrappe">
                <div class="row">
                    <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                    <div class="row" style="width:100%">
                                        <div class="col-3">
                                            <h1>Billing Home</h1>
                                        </div>
                                        <div class="col-9" style="text-align:right">
                                            <button (click)="toggleAdding()"    class="btn btn-light m-2">My Invoices</button>
                                            <button (click)="toggleAdding()"    class="btn btn-light m-2">My Quotes</button>
                                            <button (click)="toggleAdding()"    class="btn btn-light m-2">Payment Methods</button>
                                            <button (click)="toggleAdding()"    class="btn btn-light m-2">Commission History</button>
                                            <button (click)="toggleAdding()"    class="btn btn-light m-2">Commission Payouts</button>
                                        </div>
                                    </div>
                              </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                    </div>
                                </div>
                            </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<span style="font-size:8px">/app/pages/product-list</span>